---
import RootLayout from '@/layouts/Root.astro'
import Nav from '@/components/Nav.astro'
import {
  appProjects,
  fullstackProjects,
  realWorldProjects,
  staticProjects,
} from '@/lib/projects-data'
import { Picture } from 'astro:assets'
import { cn } from '@/lib/utils'
import { Icon } from 'astro-icon/components'

const allProjects = [
  {
    label: 'Real World Works',
    projects: realWorldProjects,
  },
  {
    label: 'Fullstacks',
    projects: fullstackProjects,
  },
  {
    label: 'Web Apps (PWA)',
    projects: appProjects,
  },
  {
    label: 'Static Sites',
    projects: staticProjects,
  },
]
---

<RootLayout title="~/projects">
  <Nav />
  <main class="px-8 md:px-20 lg:px-32 2xl:px-72 py-12 lg:py-20 mt-10 !pb-32">
    {
      allProjects.map((projectCategory, index) => (
        <>
          <h1
            class={cn(
              'text-2xl lg:text-3xl font-bold font-header',
              index !== 0 && 'mt-20',
            )}
          >
            {projectCategory.label}
          </h1>
          <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10 lg:gap-6 mt-10">
            {projectCategory.projects.map((project) => (
              <div class="space-y-2 project">
                <Picture
                  width={750}
                  height={500}
                  src={project.image}
                  alt={project.name}
                  formats={['avif']}
                  loading="eager"
                />
                <div class="flex justify-between items-center pt-1 md:pt-2 px-1 md:px-4">
                  <h2 class="text-lg md:text-xl font-medium">{project.name}</h2>
                  <div class="flex space-x-4">
                    {project.links.repo && (
                      <a
                        aria-label="project repo link"
                        target="_blank"
                        href={project.links.repo}
                      >
                        <Icon class="size-5" name="social/github-light" />
                      </a>
                    )}
                    <a
                      aria-label="site link"
                      target="_blank"
                      href={project.links.site}
                    >
                      <Icon class="size-5" name="external-link" />
                    </a>
                  </div>
                </div>
                <p class="text-sm md:text-base px-1 md:px-4">
                  {project.discription}
                </p>
              </div>
            ))}
          </div>
        </>
      ))
    }
  </main>
</RootLayout>
